#!/usr/bin/env bash

# shell ---------------------------------------------------------------------

export BASH_COMPLETION_USER_DIR=$HOME/.bash_completion
export BROWSER=c:/program\ files/zen\ browser/zen.exe
export PAGER=less

export SHELL=/c/program\ files/git/bin/bash.exe
export STARSHIP_SHELL="$SHELL"

export EDITOR=hx
export GIT_EDITOR="$EDITOR"

export MSYS=winsymlinks:nativestrict

export XDG_CACHE_HOME=$HOME/.cache
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_STATE_HOME=$HOME/.local/state

# config---------------------------------------------------------------------

export CLOUDSDK_CONFIG=$HOME/.config/gcloud
export CLOUDSDK_ROOT_DIR=$HOME/google-cloud-sdk
export GH_CONFIG_DIR=$HOME/.config/gh
export PIP_CONFIG_FILE=$HOME/.config/pip/pip.ini
export PYTHONSTARTUP=$HOME/.config/python/pythonrc
export RCLONE_CONFIG=$HOME/.config/rclone/rclone.conf
export RCLONE_CONFIG_DIR=$HOME/.config/rclone
export STARSHIP_CONFIG=$HOME/.config/starship/starship.toml
export YAZI_CONFIG_HOME=$HOME/.config/yazi

# cache ---------------------------------------------------------------------

export PYTHONPYCACHEPREFIX=$HOME/.cache/pycache
export PYTHON_HISTORY=$HOME/.cache/python
export RCLONE_CACHE_DIR=$HOME/.cache/rclone
export RUFF_CACHE_DIR=$HOME/.cache/ruff
export UV_CACHE_DIR=$HOME/.cache/uv
export _ZO_DATA_DIR=$HOME/.local/share/zoxide
export npm_config_cache=$HOME/.cache/npm

# history -------------------------------------------------------------------

export HISTSIZE=100000000 # in bytes
export HISTFILESIZE=$HISTSIZE

export HISTCONTROL=ignoredups:erasedups:ignorespace
export HISTIGNORE="y:\[*"
export HISTFILE=$HOME/.bash_history
export HISTLINESTOLOAD=50000

export LESSHISTFILE=$HOME/.cache/less/history # set to `-` to disable
export NODE_REPL_HISTORY=''

# source/executables --------------------------------------------------------

export ADB=~/source/platform-tools-latest-windows/platform-tools/adb.exe
export HELIX_RUNTIME=~/source/helix/runtime
export YAZI_FILE_ONE=/c/program\ files/git/usr/bin/file.exe

export OPENSSL_CONF=C:/Program\ Files/Git/mingw64/etc/ssl/openssl.cnf
export OPENSSL_DIR=C:/Program\ Files/OpenSSL-Win64
export OPENSSL_NO_VENDOR=1
export SSL_CERT_FILE=C:/Program\ Files/OpenSSL-Win64/certs/cacert.pem

# uv-------------------------------------------------------------------------

export UV_TOOL_DIR=$HOME/.local/share/uv/tools

# rclone---------------------------------------------------------------------

export RCLONE_HUMAN_READABLE=1
